{% block header %}

    <style>
        nav>div.container>a>img {
            width: 50px;
            border-radius: 30px;
        }
    </style>

    <header>

        <nav class="navbar navbar-expand-lg bg-white navbar-light container-fluid py-2 position-fixed ">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('images/icon/icon.jpeg') }}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav align-items-center justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link text-uppercase  active px-3" aria-current="page"
                                   href="{{ path('app_home') }}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase  px-3" href="{{ path('app_actividad-listado_actividades') }}">Listado actividades</a>
                            </li>

                            {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase  px-3" href="{{ path('admin') }}">Panel de administrador</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_TEACHER') %}
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase  px-3" href="{{ path('app_home') }}">Listado de actividades</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-uppercase  dropdown-toggle text-center" data-bs-toggle="dropdown" href="#"
                                        role="button" aria-expanded="false">Bienvenido, {{ app.user.role }}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="" class="dropdown-item text-uppercase ">{{ app.user.email }}</a></li>
                                        <li><a href="{{ path('app_logout') }}" class="dropdown-item text-uppercase "> <span
                                                    class="badge bg-secondary">Cerrar sesión</span></a></li>
                                    </ul>
                                </li>

                            {% else %}

                                <li class="nav-item ms-2">
                                    <a href="{{ path('app_login') }}"
                                       class="dropdown-item text-uppercase btn btn-primary text-white py-2 px-3 ">Acceder</a>
                                </li>

                            {% endif %}
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}